* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}
body {
    background-color: bisque;
}

.header {
    padding: 0px;
    background-color: #1abc9c;
    color: white;
    position: relative;
}

.header p {
    background: none;
    text-align: center;
    font-size: 30px;
    vertical-align: top;
    padding: 20px;
    font-size: 70px;
}

.nav-bar {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #1abc9c;
}

.nav-bar ul {
    visibility: hidden;
}

.nav-bar a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}

.nav-bar li {
    float: right;
    list-style-type: none;
}

.nav-bar li:hover {
    background: #157561;
}

.star-button {
    display: block;
    width: 50px;
    height: 53px;
    margin: 0 auto;
}